# **SESSION_11: TUPLES & RANGE()**

# **TUPLES**

>> Tuple'lar da Listeler gibi Collection Type'lardan bir tanesidir.

>> İçerisinde her telden veri olabiliyor listelerdeki gibi.

>> **Tuple'lar immutable'dır stringler gibi (listelerin aksine). --> assign olmadan değiştirilemiyor o yüzden append, remove gibi metodları yoktur. Bu sebeple listelere göre daha hızlıdır.**

>> Tuple'lar iterable'dır.

>> Tuple'lar listelere göre daha güvenlidir de. Silinme ve değiştirilme gibi sorunları yoktur. Saklanması gereken bilgiler olduğu zaman akla gelebilir.

>> Tuple oluşturmanın 3 farklı yöntemi vardır

In [17]:
# tuple oluşturma, 1. yöntem:
tuple_1 = tuple("Techpro")
print("1. yöntem ile oluşturulan tuple -->", tuple_1)

# 2. yöntem:
tuple_2 = ("Techpro", 3, 3.14, False, [1, 2, 3])
print("2. yöntem ile oluşturulan tuple -->", tuple_2)

# 3. yöntem:
tuple_3 = 3, 14         # tercih edilmez
print("3. yöntem ile oluşturulan tuple -->", tuple_3)

1. yöntem ile oluşturulan tuple --> ('T', 'e', 'c', 'h', 'p', 'r', 'o')
2. yöntem ile oluşturulan tuple --> ('Techpro', 3, 3.14, False, [1, 2, 3])
3. yöntem ile oluşturulan tuple --> (3, 14)

In [3]:
tuple([1, 2, 3, 4, 5])                  # listler iterable olduğu için, bir liste tuple'a dönüşebiliyor

(1, 2, 3, 4, 5)

In [5]:
tuple([1, 2, 3, 4, 5], [6, 4])                  # tuple() fonksiyonu içerisinde en fazla 1 tane eleman olmalı

TypeError: tuple expected at most 1 argument, got 2

In [10]:
type(tuple_2)

tuple

In [13]:
tuple(123)                                  # integar object iterable olmadığı için hata veriyor

TypeError: 'int' object is not iterable

In [19]:
name = "Başak"
tuple(name)

('B', 'a', 'ş', 'a', 'k')

In [32]:
("Techpro")             # bu bir tuple değildir

'Techpro'

In [34]:
("Techpro",)             # bu bir tuple'dır. Yani tek elemanlı bir tuple oluşturmak için mutlaka virgül kullanmalıyız

('Techpro',)

In [35]:
(123,)                  # bu da mesela tuple'dır

(123,)

In [36]:
tek_elemanlı = ("Techpro",)

In [37]:
len(tek_elemanlı)

1

In [38]:
type(tek_elemanlı)

tuple

In [39]:
tuple_olmayan = ("Techpro")             # virgül olmadığı için bu bir tuple değildir, stringtir
type(tuple_olmayan)

str

In [41]:
tuple_olmayan = (123.2)             # virgül olmadığı için bu bir tuple değildir, floattır
type(tuple_olmayan)

float

## **Özetle tek elemanlı bir tuple oluşturabilmek için, elemandan hemen sonra virgül koyamyı unutma.**

In [43]:
type("techpro",)                # buradaki virgül type() fonksiyonu ile ilgilidir.

str

In [44]:
type(("techpro",))

tuple

In [48]:
liste_1 = 3, 2, 5               # bir list oluşturmak isteyip köşeli parantezleri eklemezsek bir tuple elde etmiş oluruz.
print(type(liste_1))
print(liste_1)

<class 'tuple'>
(3, 2, 5)

In [49]:
[1, 2, 3] + [3, 5]              # listelerde toplama

[1, 2, 3, 3, 5]

In [51]:
[1, 2, 3] * 3                    # listelerde çarpma

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [53]:
(1, 2, 3) + (3, 5)              # tuple'larda toplama

(1, 2, 3, 3, 5)

In [52]:
(1, 2, 3) * 3                    # tuple'larda çarpma

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [55]:
("Techpro", 3, False) + ("Sedat")           # ikinci parantez içerisinde virgül unutulmuştur

TypeError: can only concatenate tuple (not "str") to tuple

In [56]:
("Techpro", 3, False) + ("Sedat",)          # bir tane virgül ekleyince sorun çözüldü

('Techpro', 3, False, 'Sedat')

#### **Indexing & Slicing**

In [58]:
tuple_2 = ("Aslan", 4, True, ["Tulay", 5, 6], ("Zeynep", 2, 3.14))
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [61]:
tuple_2[3]

['Tulay', 5, 6]

In [63]:
tuple_2[3][0]

'Tulay'

In [65]:
tuple_2[4][2]

3.14

In [66]:
tuple_2[1:4]

(4, True, ['Tulay', 5, 6])

In [67]:
type(tuple_2[1:4])

tuple

In [68]:
type([1, 2, 3, 4][2:3])

list

In [69]:
type("EmreCca"[4:])

str

#### ***NOT: Hangi type üzerinden slicing yapıyorsak o type'da çıktı alırız.***

In [70]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [71]:
tuple_2[3:0]

()

In [72]:
tuple_2[3:0:-1]

(['Tulay', 5, 6], True, 4)

In [73]:
tuple_2[0]

'Aslan'

In [75]:
tuple_2[0] = "Meltem"           # tuple'ın herhangi bir elemanı değiştirlemez. Sadece tuple komple değiştirlebilir. (immutble özelliği)

TypeError: 'tuple' object does not support item assignment

In [76]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [80]:
tuple_2[3]              # bir liste çağırdık

['Tulay', 5, 6, 7]

In [81]:
tuple_2[3].append(7)    # artık bir liste metodu kullanabiliriz. istisnadır çünkü sadece list'ler mutable'dır.

In [79]:
tuple_2                 # burada tuple değişmedi, tuple içerisinde bir liste değişti o kadar.

('Aslan', 4, True, ['Tulay', 5, 6, 7], ('Zeynep', 2, 3.14))

In [83]:
tuple_2[0]

'Aslan'

In [86]:
tuple_2[0].upper()      # burada bir string'i upper yaptık. Ancak string'lerde böyle bi değişiklik stringin orijinal halini değiştirmiyordu:

'ASLAN'

In [88]:
tuple_2                 # görüldüğü gibi ASLAN olarak değil Aslan olarak yer alıyor

('Aslan', 4, True, ['Tulay', 5, 6, 7, 7], ('Zeynep', 2, 3.14))

In [89]:
tuple_2[3]

['Tulay', 5, 6, 7, 7]

In [90]:
tuple_2[3].remove(5)

In [91]:
tuple_2

('Aslan', 4, True, ['Tulay', 6, 7, 7], ('Zeynep', 2, 3.14))

In [93]:
del tuple_2[3]          # tuple'ların içerisinden bir şey silemiyoruz (immutable)

TypeError: 'tuple' object doesn't support item deletion

In [95]:
del tuple_2             # tuple'lar silinebilir ama değiştirilemez. içerisinden eleman silemeyiz mesela.

NameError: name 'tuple_2' is not defined

## **Tuple metodları**  : sadece 2 adet metod

>> **⏳ count() metodu** : bir item'dan tuple içerisinde kaç tane olduğunu sayar

In [99]:
tuple_3 = (1, 2, 5, 2, 1, 3, 4, 1, 2, 3, 2)

In [101]:
tuple_3.count(2)            # 4 adet 2 var tuple_3 içerisinde

4

In [103]:
tuple_3.count(1)            # 3 adet 1 var tuple_3 içerisinde

3

In [104]:
tuple_3.count("a")          # 0 adet "a" var tuple_3 içerisinde, yani yok

0

>> **⏳ index() metodu** : bir item'in tuple içerisinde kaçıncı index'te olduğunu gösterir

In [105]:
tuple_3.index(5)        # 5 item'ı tuple_3 içerisinde 2. indexte yer alıyor.

2

In [107]:
tuple_3.index(2)        # ilk gördüğü elemanın indexini verir.

1

In [108]:
tuple_3.index(7)        # tuple içerisinde o eleman yoksa hata verir

ValueError: tuple.index(x): x not in tuple

# **range() fonksiyonu**

>> belli bir aralıkta tam sayı üretiriz

In [113]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [114]:
range(4, 10)                # görüntüleyebilmek için farklı bir fonksiyona ihtiyaç vardır. (4 dahil, 10 dahil değil) (iterable'dır, elemanlarına ulaşabiliriz)

range(4, 10)

In [115]:
list(range(4, 10))          # liste oluşturma FONKSİYONU kullanılmıştır.

[4, 5, 6, 7, 8, 9]

In [117]:
tuple(range(4, 10))          # tuple oluşturma FONKSİYONU kullanılmıştır.

(4, 5, 6, 7, 8, 9)

In [120]:
range(4, 10)[1]             # iterable olma özelliği'dir. list ve tuple ile çalışabilmesi bunun bir kanıtıdır.

5

In [122]:
list(range(10))             # herhangi bir başlangıç noktası vermezsek 0'dan başlar

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
list(range())               # range() fonksiyonuna en az 1 değer girmeliyiz, o da stop noktası.

TypeError: range expected at least 1 argument, got 0

In [127]:
list(range(1, 10, 2))       # buradaki "2", range'in artış hızıdır.

[1, 3, 5, 7, 9]

In [130]:
list(range(-5, 10, 2))

[-5, -3, -1, 1, 3, 5, 7, 9]

In [131]:
list(range(5, 10, -1))      # 5'den başalyıp -1 adım ile 10'a gidemeyiz

[]

In [132]:
list(range(10, 2, -1))      # 10'dan başlayıp 2'ye doğru gidebilir

[10, 9, 8, 7, 6, 5, 4, 3]

In [137]:
# Soru: 1 - 50 arasındaki çift sayıları yazdıralım:
list(range(2, 51, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [139]:
print(list(range(2, 51, 2)))            # bir önceki işlemi print içerisinde yazdırınca yan yana yazdırdı.

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]