# **SESSION_21: filter() FUNCTION & lambda() FUNCTION**

## **filter()**

    içerisine iki ifade yazılır. virgülden öncesinde bir fonksiyon girilir (ya da None yazılır). virgülden sonrasında ise iterable ifade vardır. Ve eğer bir fonksiyon varsa, iterable ifadenin içerisideki her bir elemanına o fonksiyon uygulanır ve fonksiyon sonucu True olursa o eleman yazdırılır. Eğer fonksiyon yok yerine None yazıyorsa, iterable ifadenin içerisinde True olan elemanları yazdırırız

In [2]:
filter(None, 'hello')       # range gibidir kendi başına çalışmaz

In [5]:
list(filter(None, 'hello')) # None olunca, iterable ifadenin içindeki Truety olan tüm elemanları yazdırır.

['h', 'e', 'l', 'l', 'o']

In [6]:
list(filter(None, [1, 2, 0, 3.14, True, False, 0.0, "Techpro"]))    # None olunca, iterable ifadenin içindeki Truety olan tüm elemanları yazdırır.

[1, 2, 3.14, True, 'Techpro']

In [7]:
# Tek sayıları tespit eden fonksion:

def find_odds(x):
    if x % 2:
        return True
    else: 
        return False

In [8]:
find_odds(7)

True

In [9]:
find_odds(6)

False

In [10]:
# Tek sayıları yazdıran filtre:

list(filter(find_odds, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

[1, 3, 5, 7, 9]

In [11]:
# Tek sayıları yazdıran filtre:

tuple(filter(find_odds, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

(1, 3, 5, 7, 9)

aşağıdaki listede karakter sayısı 5 olan elemanları ayıkla:

In [20]:
isimler = ['serhat', 'sedat', 'metehan', 'bahar', 'cennet', 'bilge']

def five(x):
    if len(x) == 5:
        return True

In [24]:
five('emre')

In [22]:
five('emree')

True

In [23]:
list(filter(five, isimler))

['sedat', 'bahar', 'bilge']

In [25]:
def armstrong(x):
    x = str(x)
    uzunluk = len(x)
    if int(x) == sum([int(i) ** uzunluk for i in x]):
        return int(x)

In [26]:
armstrong(407)

407

In [27]:
armstrong(47)

In [35]:
list(filter(armstrong, range(10, 1000001)))

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]

## **lambda()**

    kullan-at fonksiyon'dur. Yani bir kere kullandığın anda kullanım hakkı biter o fonksiyonu sonradan çağıramazsın

    genellikle tek satırlık basit işlemler için kullanırız

In [36]:
def kareler_toplamı(x, y): return x ** 2 + y ** 2

In [37]:
kareler_toplamı(3, 4)

25

In [39]:
lambda x, y: x ** 2 + y ** 2        # buradaki __main__, bu fonksiyonu bizim oluşturduğumuzu söyler. print gibi gömülü fonksiyonlarda __buildin__ yazar

In [40]:
(lambda x, y: x ** 2 + y ** 2)(3, 4)

25

In [41]:
(lambda x: len(x) == 5)('sedat')

True

In [42]:
(lambda x: len(x) == 5)('bilkay')

False

NOT: Aşağıdaki gibi bir filter kullanılacaksa boşu boşuna def ile fonksiyon oluşturup bellekte yer kaplamak yerine lamda kullanmak daha mantıklı

In [43]:
list(filter((lambda x: len(x) == 5), isimler))

['sedat', 'bahar', 'bilge']

In [44]:
list(filter((lambda x: len(x) == 6), isimler))  # basitçe len(x) == 6 yaptık

['serhat', 'cennet']

SORU: lambda ile öyle bir fonksiyon yazın ki içerisine aldığı ifadeyi tersten yazdırsın:

In [76]:
(lambda x: print(x[::-1]))('emre ç')

ç erme

In [77]:
(lambda x: print(x[::-1]))('ey edip adanada pide ye')       # bu bir palindrom ifadedir

ey edip adanada pide ye

ifadeler palindrom mu değil mi diye test edelim:

In [78]:
(lambda x: x[::-1] == x)('emre ç')

False

In [79]:
(lambda x: x[::-1] == x)('nazan')

True

In [80]:
(lambda x: x[::-1] == x)('ey edip adanada pide ye')

True

In [81]:
import pandas as pd

In [82]:
df = pd.read_csv("adult_eda.csv")

In [83]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [84]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [85]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)     # ÖNEMLİ

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [88]:
(lambda x: x ** 2 if x % 2 != 0 else x * 2)(22)

44

In [89]:
(lambda x: x ** 2 if x % 2 else x * 2)(22)

44